* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*PreLoader*/
#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #010309;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    z-index: 999919;
}

.gooey {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: #010309;
    filter: contrast(20);
    z-index: 999919;
}

.gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #E4EAF0;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}

.gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

.gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #E4EAF0;
    border-radius: 50%;
}

@-moz-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-webkit-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-o-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-moz-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@-webkit-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@-o-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}


html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    color: #E4EAF0;
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #010309;
}

a {
    text-decoration: none;
    color: #E4EAF0;
}

img {
    width: 100%;
}

header {
    font-family: 'Quicksand';
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.header_text{
    word-wrap: break-word;
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    margin-top: 20px;
}

.profile{
    display: grid;
    justify-content: center;
}

.profile img{
    width: 100px;
}

header p span::before {
    content: "\A";
    white-space: pre;
}

.content {
    margin-top: 100px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.about_text_danish {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 500;
}

.socials {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 90px;
}

.social_icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 20px;
}

footer {
    display: grid;
    justify-content: center;
    flex-direction: row;
    margin-top: 90px;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 200;
}

/*Media Queries*/

/* ----------- NON Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {

    header {
        font-family: 'Quicksand';
        display: flex;
        justify-content: center;
        word-wrap: break-word;
        text-align: center;
        font-size: 72px;
        margin-top: 50px;
        font-weight: 400;
    }

    .profile img{
        width: 100px;
    }

    .header_text{
        margin-left: 20px;
    }

    header p span::before {
        content: "\A";
        white-space: normal;
    }

    .content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-top: 100px;
        text-align: center;
        width: 400px;
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
    }

    .about_text_danish {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 500;
    }

    .social_icon {
        width: 50px;
        height: 50px;
        margin: 20px;
    }

    .social_icon:hover {
        transform: scale(1.2);
        filter: brightness(150%);
    }

}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

    header {
        font-family: 'Quicksand';
        display: flex;
        justify-content: center;
        word-wrap: break-word;
        text-align: center;
        font-size: 72px;
        margin-top: 50px;
        font-weight: 400;
    }

    header p span::before {
        content: "\A";
        white-space: normal;
    }

    .profile img{
        width: 100px;
    }

    .header_text{
        margin-left: 20px;
    }


    .content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-top: 100px;
        text-align: center;
        width: 400px;
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
    }

    .about_text_danish {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 500;
    }

    .social_icon {
        width: 50px;
        height: 50px;
        margin: 20px;
    }

    .social_icon:hover {
        transform: scale(1.2);
        filter: brightness(150%);
    }

}

/*Ipad*/

@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 768px) and (max-device-width : 1007px) {

    header {
        font-family: 'Quicksand';
        display: flex;
        justify-content: center;
        word-wrap: break-word;
        text-align: center;
        font-size: 62px;
        margin-top: 70px;
        font-weight: 400;
    }

    header p span::before {
        content: "\A";
        white-space: normal;
    }

    .profile img{
        width: 100px;
    }

    .header_text{
        margin-left: 20px;
    }


    .content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-top: 100px;
        text-align: center;
        width: 400px;
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
    }

    .about_text_danish {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 500;
    }

    .socials {
        margin-top: 120px;
    }

    .social_icon {
        width: 50px;
        height: 50px;
        margin: 20px;
    }

}

@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 1024px) and (max-device-width : 1366px) {

    header {
        font-family: 'Quicksand';
        display: flex;
        justify-content: center;
        word-wrap: break-word;
        text-align: center;
        font-size: 62px;
        margin-top: 100px;
        font-weight: 400;
    }

    header p span::before {
        content: "\A";
        white-space: normal;
    }
    .profile img{
        width: 100px;
    }

    .header_text{
        margin-left: 20px;
    }


    .content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-top: 200px;
        text-align: center;
        width: 450px;
        font-size: 28px;
        font-weight: 400;
        line-height: 35px;
    }

    .about_text_danish {
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        font-weight: 500;
    }

    .socials {
        margin-top: 210px;
    }

    .social_icon {
        width: 70px;
        height: 70px;
        margin: 30px;
    }

    footer {
        font-size: 24px;
    }

}

@media screen and (min-device-width: 1600px) and (max-device-width: 3000px) and (-webkit-min-device-pixel-ratio: 1) {

    header {
        font-family: 'Quicksand';
        display: flex;
        justify-content: center;
        word-wrap: break-word;
        text-align: center;
        font-size: 72px;
        margin-top: 50px;
        font-weight: 400;
    }

    header p span::before {
        content: "\A";
        white-space: normal;
    }

    .profile img{
        width: 100px;
    }

    .header_text{
        margin-left: 20px;
    }


    .content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-top: 100px;
        text-align: center;
        width: 400px;
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
    }

    .about_text_danish {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 500;
    }

    .social_icon {
        width: 50px;
        height: 50px;
        margin: 20px;
    }

    .social_icon:hover {
        transform: scale(1.2);
        filter: brightness(150%);
    }

}

@media screen and (min-device-width: 1008px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {

    header {
        font-family: 'Quicksand';
        display: flex;
        justify-content: center;
        word-wrap: break-word;
        text-align: center;
        font-size: 62px;
        margin-top: 100px;
        font-weight: 400;
    }

    header p span::before {
        content: "\A";
        white-space: normal;
    }

    .profile img{
        width: 100px;
    }

    .header_text{
        margin-left: 20px;
    }


    .content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-top: 200px;
        text-align: center;
        width: 450px;
        font-size: 28px;
        font-weight: 400;
        line-height: 40px;
    }

    .about_text_danish {
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        font-weight: 500;
    }

    .socials {
        margin-top: 210px;
    }

    .social_icon {
        width: 70px;
        height: 70px;
        margin: 30px;
    }

    .social_icon:hover {
        transform: scale(1.2);
        filter: brightness(150%);
    }

    footer {
        font-size: 24px;
    }

}